.hotel-details{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    &-rooms{
        margin-top: 15px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .ymaps-2-1-79-map{
        z-index: -1;
    }
}

@media screen and (min-width: 800px) {
    .hotel-details{
        &-rooms{
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}
