.hotel-deatails-room__tariff {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    padding: 10px;

    &-tags {
        display: flex;
        flex-direction: column;
        row-gap: 6px;

        &>span {
            font-weight: 400;
            font-size: 14px;
        }
    }

    &-price {
        text-align: right;
        font-weight: 700;
        font-size: 16px;
        margin-top: 22px;
        margin-bottom: 7px;
    }
}

@media screen and (min-width: 800px){
    .hotel-deatails-room__tariff {
        width: calc(50% - 11px);
        padding: 20px;

        &-tags {
            row-gap: 12px;
    
            &>span {
                font-size: 28px;
            }
        }
    
        &-price {
            font-size: 32px;
            margin-top: 44px;
            margin-bottom: 14px;
        }
    }
}