.hotel-details-search {
    background-color: #fff;
    padding: 12px 15px 17px;

    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        word-wrap: break-word;
    }

    &__form {
        display: flex;
        justify-content: center;

        column-gap: 13px;
        margin-top: 12px;
        margin-bottom: 6px;
    }
}

@media screen and (min-width: 800px) {
    .hotel-details-search {
    
        &__title {
            font-size: 32px;
            line-height: 40px;
        }
    
        &__form {
            column-gap: 13px;
            margin-top: 24px;
            margin-bottom: 12px;
        }
    }
}

@media screen and (max-width: 550px){
    .hotel-details-search {    
        &__form {
            flex-direction: column;
            gap: 13px;
        }
    }
}