.hotel-details-info {
    background-color: #fff;
    &__title{
        padding: 0 10px;
    }

    &__name {
        font-weight: 400;
        font-size: 16px;
    }

    &__slider {
        margin-top: 10px;
        height: 200px;
    }
}