.component-arrow-button {

    &,
    &.left,
    &.right {
        button {
            background: inherit;

            &::after {
                content: url(../../../../templates/icons/arrow.svg);
                display: inline-block;
                transform: rotate(90deg);
            }
        }
    }

    &.right {
        button {
            &::after {
                transform: rotate(-90deg);
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .component-arrow-button {
        button {
            &::after {
                svg {
                    height: 32px;
                    width: 32px;
                }
            }
        }
    }
}