.slider{
    width: 100%;
    height: calc(100% - 26px);
    &-element{
        display: none;
        width: 100%;
        height: 100%;

        &.active{
            display: block;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-navigation{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;

        span {
            font-size: 14px;
        }
    }
}

@media screen and (min-width: 800px) {
    .slider{    
        height: calc(100% - 38px);
        &-navigation{
    
            span {
                font-size: 28px;
            }
        }
    }
}